:root {
  --tp-primary: rgb(4, 120, 87);
  --tp-primary-content: rgb(255, 255, 255);

  --tp-secondary: rgb(3, 105, 161);
  --tp-secondary-content: rgb(255, 255, 255);
  --tp-secondary-on-dark: rgb(56, 189, 248);

  --tp-map-georeference: rgb(239, 68, 68);
  --tp-map-asserted: rgb(249, 115, 22);
  --tp-map-type-material: rgb(51, 136, 255);
  --tp-map-collection-object: rgb(239, 68, 68);
}
