:root {
  --tp-primary: rgb(4, 120, 87);
  --tp-primary-content: rgb(255, 255, 255);

  --tp-secondary: rgb(3, 105, 161);
  --tp-secondary-content: rgb(255, 255, 255);
  --tp-secondary-on-dark: rgb(56, 189, 248);

  --tp-base-foreground: rgb(255, 255, 255);
  --tp-base-background: rgb(245, 247, 251);
  --tp-base-muted: rgb(226, 232, 240);
  --tp-base-border: rgb(203, 213, 225);
  --tp-base-content: rgb(0, 0, 0);

  --tp-map-georeference: rgb(239, 68, 68);
  --tp-map-asserted: rgb(249, 115, 22);
  --tp-map-type-material: rgb(51, 136, 255);
  --tp-map-collection-object: rgb(239, 68, 68);

  --tp-footer-background: rgb(39 39 42);
}

.dark {
  --tp-primary: rgb(23, 23, 23);
  --tp-primary-content: rgb(255, 255, 255);

  --tp-secondary: rgb(14, 165, 233);
  --tp-secondary-content: rgb(255, 255, 255);

  --tp-base-background: rgb(23, 23, 23);
  --tp-base-foreground: rgb(38, 38, 38);
  --tp-base-muted: rgb(48, 48, 48);
  --tp-base-border: rgb(38, 38, 38);
  --tp-base-content: rgb(255, 255, 255);

  --tp-footer-background: rgb(39 39 42);
}
